/* blue1:#33428E, 
blue2: #012754, 
button:#002854, 
background: #F8F9FB */

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

body {
  position: relative;
  box-sizing: border-box;
}

body {
  line-height: 1.7;
  padding: 3rem;
  background-color: #F8F9FB;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.padding-sm {
  padding: 0.3rem;
}

.button {
  background-color: #002954 !important;
  color: #F8F9FB !important;
  font-weight: 700 !important;
  font-size: 1.5rem !important;
}

.container {
  margin: auto;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.card {
  margin: 0 auto;
  max-width: 1100px;
  padding: 1rem;
  font-size: 1.6rem;
}

.header {
  font-size: 2rem;
  color: #012754 !important;
}

.header-title {
  line-height: 1;
}

.card-media {
  height: 5rem;
}

.card-content {
  height: 5rem !important;
  width: 40%;
  border: 3px solid #33428E;
  border-radius: 10px;
  height: 10px;
  position: relative;
}

.card-content .title {
  position: absolute;
  top: -20px;
  background-color: #fff;
  padding: 0.25rem;
}

.card-item {
  transform: translateY(-7px);
}

.select-currency {
  border-bottom: none;
}

.switch-button {
  margin: 1.5rem auto;
  width: 20px;
}


.MuiCardContent-root {
  padding-bottom: 0;
}

.MuiCardContent-root:last-child {
  padding-bottom: 16px !important;
}

.margin-lg {
  margin: 2rem auto;
}

.MuiInput-underline:before {
  display: none;
}

.MuiInput-underline::after {
  display: none;
}

.seperator {
  font-size: 3rem;
  transform: translateY(-13px);
  display: block;
}

.MuiInputBase-root {
  font-size: 1.5rem !important;
}

.input-item {
 transform: translateY(-2px);
}